/* layout */

.project-container {
    padding:2em;
    display : flex;
    justify-content: space-between;
    
}

.project-text, .project-media {
    width:47%;
}

@media (max-width: 1250px) {
    .project-container {
        flex-direction: column;
    }
    .project-text, .project-media {
        width:100%
    }

    .project-media {
        order:1;
    }

    .project-text {
        order:2;
    }
}

/* Typography */

.light-project-container {
    background-color: #E7F1F3;  
    color:#2e3b31    
}

.light-project-container h2 {
    color: #1C8296
} 

.white-project-container {
    background-color : #FFF;
    color:#2e3b31    
}

.white-project-container h2 {
    color: #FED75F
}