
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2:1000,600,400&display=swap');

/* Layout */

.App {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    --nav-height:250px
}

.nav-area {
    height: var(--nav-height);
}


@media (max-width: 1250px) {
    .App {
        max-width: 600px;
    }
}

img {
    max-width: 100%;
}

/* Typography */

.App {
    font-family:'Baloo Paaji 2', 'Roboto';
    --background: #E7F1F3;
    --yellow: rgb(255,219,106);
    --green: #1C8296;
}

h1 {
    font-size: 3rem;
    font-weight: 1000;
    color: var(--yellow);
    text-align: center;
}

h2 {
    font-size:3rem;
    font-weight: 1000;
    margin: 0 auto;
    text-transform: capitalize;
}

h3 {
    font-weight:600;
    margin:0.5em auto;
    text-align: justify;
}

button {
    border:none;
    background-color:transparent;
    font: inherit;
    width:150px;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

button:hover, button:focus {
    text-decoration: underline;
    text-underline-position: under;
}

p, button {
    font-size:1rem;
    font-weight: 400;
    margin:0.5em auto;
    text-align: justify;
}


