.nav-container {
    padding:2em
}

 .nav-container ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav-container li {
    margin: 0 2em;
    color: var(--green);
}

.nav-container li:hover, .nav-container li:focus {
    color:var(--green);
}

.nav-container .active {
    border-bottom: 1px solid;
}





