.container {
    padding:2em
}



 ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

li {
    margin: 0 2em;

}

li a {
    text-decoration: none;
    color: var(--green);
}

li a:hover, li a:focus {
    color:  #22462a;
}

.active {
    border-bottom: 1px solid;
}

.active:hover, .active:focus {
    color:var(--green);
}




