/* layout */

.project-container {
    display : flex;
    justify-content: space-between;    
    margin:0;
}

.project-text, .project-media {
    box-sizing: border-box;
    width:50%;
    margin:0;
    padding:40px
}

@media (max-width: 1250px) {
    .project-container {
        flex-direction: column;
    }
    .project-text, .project-media {
        width:100%;

    }

    .project-media {
        order:1;
    }

    .project-text {
        order:2;
        padding-top: 0;
    }
}

/* Typography */

.light-project-container {
    background-color: var(--background);  
    color:rgba(0,0,0, 0.8)   
}

.light-project-container h2, 
.light-project-container button {
    color: var(--green);
} 

.white-project-container {
    background-color : white;
    color:rgba(0,0,0, 0.8)  
}

.white-project-container h2, 
.white-project-container button {
    color: var(--yellow);
}