.nav-container {
    background-color:white;
    height: calc(var(--nav-height) + 8px) ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display:flex;
    width: 90%;
    margin:0 auto
}

.title-container {
    width: 20%;
    margin: auto
}

.title-container h1 {
    line-height:1em;
}

 .nav-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
     width: 80%;
     margin: auto;
 }

.nav-element button {
    margin: 0 2em;
    color: var(--green);
    width:150px;
    font-weight:bold;
    text-align: center;
}

.nav-element button:hover, .nav-element  button:focus {
    text-decoration: underline;
    text-underline-position: under;
}

.nav-element-active button {
    color: var(--yellow)
}





