.nav-container {
    background-color:white;
    height: calc(var(--nav-height) + 8px) ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

 .nav-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-element button {
    margin: 0 2em;
    color: var(--green);
    width:150px;
    font-weight:bold;
    text-align: center;
}

.nav-element button:hover, .nav-element  button:focus {
    text-decoration: underline;
    text-underline-position: under;
}

.nav-element-active button {
    color: var(--yellow)
}





